@use '../../globals/variables' as *;
@use '../../globals/mixins' as *;

.password-encryption {
  padding: 15px;

  &__forms {
    @include row($gap: 15px)
  }

  &__form {
    width: 50%;
    @include column($gap: 15px);
    align-items: start;
  }

  &__spacer {
    width: 1px;
    border-left: 1px dashed $black-10;
  }

  &__output {
    width: 100%;
    height: 100px;
  }

  &__output-text {
    @include box($width: 100%, $height: 100px, $padding: 15px);
    display: flex;
    background: $lightblue-color;
    overflow-y: auto;
    overflow-x: hidden;
    word-break: break-all;
  }

  &__about {
    margin-bottom: 20px;
  }
}
