@use '../../globals/variables' as *;
@use '../../globals/mixins' as *;

.password-generator {
  padding: 20px;
  overflow-x: hidden;
  gap: 40px;

  &__password-wp {
    @include row($gap: 10px);
  }

  &__password-wpx2 {
    @include box($width: 100%, $height: $component-height, $padding: 0);
    display: flex;
    background: $lightblue-color;
    overflow-x: auto;
    align-items: center;
  }

  &__password {
    padding: 0 15px;
    white-space: nowrap;
    display: inline-block;
  }

  &__params {
    @include row($gap: 30px);
    flex-wrap: wrap;
    align-items: center;
  }

  &__section {
    @include column($gap: 15px);
  }
}
