$background-color: #dbf2f3;
$primary-color-grad: #3EDCFF;
$primary-color-grad-2: #259992;
$selection-color: #b1ecff;
$base-color: #13454F;
$base-color-20: rgba(19, 69, 79, 0.2);
$secondary-color: #6BBBCC;
$secondary-color-10: rgba(107, 186, 204, 0.2);
$placeholder-color: #a1b5b8;
$div-color: #edfcff;
$navigation-bar-color: #6bbbcc;
$inactive-selection-color: #ffffffb5;
$lightblue-color: #d9f0f7;
$component-height: 45px;
$base-text-size: 15px;
$navigation-bar-height: 70px;
$red-color: #6f2626;
$black-10: rgba(19, 69, 79, 0.1);
